* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* body {
  background: #f4f6f8; */
/* padding: 40px;
} */

.chatbot-container {
  max-width: 420px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
}

.chatbot-header {
  padding: 16px;
  background: #4f46e5;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.chatbot-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background: #f9fafb;
}

.message {
  /* background-color: #9ee2ff; */
}

.message .text-bot {
  background-color: #e5e7eb;
  width: 70%;
  padding: 8px 13px;
  color: rgb(0, 0, 0);
  border-radius: 16px;
  border-bottom-left-radius: 4px;
}

.message .text-user {
  background-color: #4f46e5;
  width: fit-content;
  max-width: 70%;
  margin-left: auto;
  padding: 8px 13px;
  color: white;

  border-radius: 16px;
  border-bottom-right-radius: 4px;
}

.message .time-bot {
  /* background-color: aquamarine; */
  color: #6b7280;
  font-size: 13px;
  margin-top: 2px;
  margin-left: 3px;
}

.message .time-user {
  /* background-color: aquamarine; */
  text-align: end;
  color: #6b7280;
  font-size: 13px;
  margin-top: 2px;
  margin-right: 3px;
}

.chatbot-input {
  padding: 12px;
  border-top: 1px solid #e5e7eb;
  display: flex;
  gap: 8px;
}

.chatbot-input input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 14px;
}

.chatbot-input button {
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.chatbot-input button:hover {
  background: #4338ca;
}

/* CSS Typing Animation  */

.typing {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.typing span {
  width: 6px;
  height: 6px;
  background: #999;
  border-radius: 50%;
  opacity: 0;
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(1) {
  animation-delay: 0s;
}
.typing span:nth-child(2) {
  animation-delay: 0.2s;
}
.typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.hidden {
  display: none;
}

/* END CSS Typing Animation  */
