<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Camera Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="client/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link
      href="client/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="client/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="client/css/style.css" rel="stylesheet" />

    <!-- Chatbot CSS -->
    <link href="client/css/chatbot.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <%- include('../layout/header.ejs'); %>
    <!-- Navbar End -->

    <!-- main Start -->

    <div style="margin-top: 70px" class="container-fluid fruite py-5">
      <div class="container py-5">
        <div class="tab-class">
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
              <div class="row g-4 py-5">
                <div
                  id="chatbot-frame"
                  class="col-12"
                  style="background-color: antiquewhite"
                >
                  <div class="chatbot-container">
                    <div class="chatbot-header">🤖 Trợ lý ảo</div>

                    <div class="chatbot-messages" id="chatMessages">
                      <!-- BOT  -->
                      <div class="message">
                        <div class="text-bot">
                          Xin chào, tôi có thể giúp gì được cho bạn nào?
                        </div>
                        <div class="time-bot"><%= startTime %></div>
                      </div>
                    </div>

                    <div class="chatbot-input">
                      <input
                        type="text"
                        placeholder="Nhập tin nhắn..."
                        id="chatInput"
                      />
                      <button id="sendBtn">Gửi</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- main End -->

    <!-- Footer Start -->
    <%- include('../layout/footer.ejs'); %>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-primary border-3 border-primary rounded-circle back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="client/lib/easing/easing.min.js"></script>
    <script src="client/lib/waypoints/waypoints.min.js"></script>
    <script src="client/lib/lightbox/js/lightbox.min.js"></script>
    <script src="client/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="client/js/main.js"></script>
    <script src="client/js/chatbot.js"></script>
  </body>
</html>
